.HomeBackgrnd {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  background-color: #000000;
}

.home-one{
  height: 100vh;
  background-image: url(../images/photographer.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.slider-image{
  border-radius: 15px;
}
.home-two {
  background-image: radial-gradient(rgb(250, 250, 250),rgb(200, 200, 200) ,rgb(130, 130, 130) );

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.section-1{
  display: flex;
  margin-bottom: 5%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-1 h1 {
  color: #7a7a7a;
  text-align: center;
}

.section-1 a {
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff0000;
  border-style: none;
  font-size: 1.5em;
  border-radius: 17px;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
}

.section-1 a:hover {
  background-color: #cf1313;
}

.section-1 h1:nth-child(1) {
  font-style: italic;
  color: rgb(0, 0, 0);
}



.home-two > .section-2 {
  width: 100%;
  margin-top: 3%;
}

.home-three,
.home-five {
  /* background-image: radial-gradient(rgb(250, 250, 250),rgb(200, 200, 200) ,rgb(130, 130, 130) ); */
  background-color: #181818;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 40px;
  color: #fff;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 100vh;
}
.section-5, .section-3{
  margin-top: 4%;
}
.section-3-img {
  box-shadow: -11px 0px 10px 0px rgba(187, 178, 178, 0.6);
  border-radius: 7px;
}
.home-quote{
  display: flex;
  margin-bottom: 5%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-book-me {
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff0000;
  border-style: none;
  font-size: 1.5em; 
   border-radius: 15px ;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
}
.button-book-me:hover {
  background-color: #cf1313;

}

.home-four {
  background-image: radial-gradient(rgb(250, 250, 250),rgb(200, 200, 200) ,rgb(130, 130, 130) );  
  text-align: center;
display: flex;
/* background-color: #000000; */
align-items: center;
justify-content: centern;
flex-direction: column;
}

.section-4-img-1 {
  position: absolute;
}
.section-4-img-2 {
  position: relative;
}


.home-four > .section-1 {
  width: 50%;
  border-radius: 15px;
  margin: 4%;
}

.logo-sec {
  background-image: linear-gradient(#181818, rgba(255, 255, 255, 0.603),#202020);
}


@media (max-width:768px) {
  .home-three, .home-five, .home-two {
  
    height: 100%;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto auto;
  padding: 0;
  }
  .home-quote, .section-1{
    grid-row: 2;
  }
  .home-four > .section-1{
    width: 90%;
  }
  .button-book-me {
  font-size: 1rem;
  padding: 3% 5%;
  }
  .section-1 a{
    font-size: 1rem;
    padding: 3% 5%;
  }
}