.about--section-two-container {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.About-Section2-Body {
  background-color: #1b1b1b;
  min-height: 100vh;
}

.about--section-two-container h1{
margin-top: 3%;
}


.horizontal {
  border: none;
  background-color: grey;
  color: whitesmoke;
width: 100%;
  height: 2px;
  border-radius: 15px;
}
.about--section-two-card-container {
  border-radius: 5%;
  margin: auto;
  width: 520px;
  position: relative;
  overflow: hidden;
  justify-content: space-around;
  font-family: "Jost";
  color: whitesmoke;
}

.team-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 65px;
  /* justify-content: center; */
  /* align-self: center; */
}

.about--section-two-card-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.about--section-two-card-container img {
  /* display: block; */
  width: 100%;
  object-fit:contain;
  transition: filter 0.5s ease;
  z-index: 0;
}

.about--section-two-card-container:hover .overlay-text {
  transform: translateY(8%);
}

.overlay-text {
  position: absolute;
  height: 100%;
  bottom: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.overlay-text h2 {
  font-weight: bolder;
  margin-top: 0;
}
.overlay-text p {
  text-align: center;
  display: flex;
  font-weight: 100;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 0;
}

.test {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
 align-self: center;
 margin-top: 8%;
}

#disabled {
  color: #1b1b1b;
  display: flex;
  align-self: center;
  width: 32px;
  height: 30px;
}

#enabled {
  height: 30px;
  display: flex;
  align-self: center;
  background-color: #1b1b1b;
  box-shadow: none;
  width: 20px;
  color: grey;
}

#enabled:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid grey;
  color: grey;
}

/* .css-sghohy-MuiButtonBase-root-MuiButton-root{
} */

#disabled:hover{
  background-color: #1b1b1b;
}

/* #buttons{
  background-color:#1b1b1b;
  border: none;
  box-shadow: none;
  background-color: red;
 font-size: .8rem;
 gap: 1rem;
} */

/* #carousel-control-button{
  height: 30px;
  border: none;
  background-color: #1b1b1b;
  color: whitesmoke;
  font-weight: 100;
  align-self: center;
  justify-self: center;

} */
.MuiButtonBase-root{
  display: none !important;
}

@media (max-width:768px) {
  .team-cards{
    gap:20px
  }
  .test{
    display: flex;
    flex-direction: column;
    gap: 150px;
   align-self: center;
   margin-top: 5%;
   margin-bottom: 30px;
  }
  .about--section-two-card-container {
    width: 50%;
    }
}